<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <h1 class="centered-title">Nostalgy</h1>
        <h1 class="centered-title">{{ surname }} {{ name }}</h1>
        <h3 class="centered-title">Hometown {{ hometown }}</h3>
        {% if hometown_map %}
            <img class="centered-img" src="https://static-maps.yandex.ru/1.x/?ll={{ lat }},{{ lon }}&z=14&l=sat">
        {% else %}
            <p>Could not get the picture of the city</p>
        {% endif %}
    {% endblock %}
</body>
</html>