<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <h2 class="centered-title">Works log</h2>
        {% if current_user.is_authenticated %}
            <a href="add_job" class="btn btn-secondary">Add job</a>
        {% endif %}
        <a href="departments" class="btn btn-secondary">Go to Departments</a>
        {% for action in actions %}
            <h3>Action # {{ loop.index }}</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="table-header">Title of activity</th>
                        <th scope="col" class="table-header">Team leader</th>
                        <th scope="col" class="table-header">Duration</th>
                        <th scope="col" class="table-header">List of collaborators</th>
                        <th scope="col" class="table-header">Hazard category</th>
                        <th scope="col" class="table-header">Is finished</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" class="table-item">{{ action.job }}</td>
                        <td scope="row" class="table-item">{{ action.leader.surname}} {{ action.leader.name }}</td>
                        <td scope="row" class="table-item">{{ action.work_size }} hours</td>
                        <td scope="row" class="table-item">{{ action.collaborators }}</td>
                        <td scope="row" class="table-item">
                            {% for category in action.categories %}
                                {{ category.id }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        {% if action.is_finished %}
                            <td scope="row" style="background-color: #eeffee;">Finished</td>
                        {% else %}
                            <td scope="row" style="background-color: #ffeeff">Is not finished</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            {% if current_user.is_authenticated and (current_user.id == action.leader.id or current_user.id == 1) %}
                <div>
                    <a href="/jobs/{{ action.id }}" class="btn btn-warning">
                        Edit job
                    </a>
                    <a href="/delete_job/{{ action.id }}" class="btn btn-danger">
                        Delete job
                    </a>
                </div>
            {% endif %}
            <br>
        {% endfor %}
    {% endblock %}
</body>
</html>